DNS SRV "target" names are compressed

DNS SRV RR should not be compressed.

From [RFC2782](https://www.ietf.org/rfc/rfc2782.txt), page 3:

> **Target**
> The domain name of the target host.  There MUST be one or more address records for this name, the name MUST NOT be an alias (in the sense of RFC 1034 or RFC 2181).  Implementors are urged, but not required, to return the address record(s) in the Additional Data section.  **Unless and until permitted by future standards action, name compression is not to be used for this field.**

The correction is at line 1684 of dns.py:
`buffer.encode_name_nocompress(self.target)`

and, for completion, to comment at line 303 of label.py:
`(needed for RRSIG, SRV)`

There are probably RR that mustn't use name compression - I haven't yet scoured the specs

Thank you for your efforts on this project.
